.botao-dislike {
    transform: scaleY(-1);
}

.card-receita {
    background-color: rgb(147, 195, 195);
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    border-radius: 10px;
}

.titulo {
    color: #26382e;
    margin: auto;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:50px;
    margin-left: 50px;
    font-weight: 700;
    text-align: center;
}

.imagem {
    width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right:50px;
    margin-left: 50px;
    border-radius: 10px;
}

.botao {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #7EAA92;
    width: 50%;
}

.botao-like {
    background-color: transparent;
    border: none;
}

.botao-dislike {
    background-color: transparent;
    border: none;
}

.receita {
    width: 300px;
}