.card-container {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

body {
    background-color: #C8E4B2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #26382e;
}